 # Part 1

<h1>Segmenting and Clustering Neighborhoods of Toronto </h1>

## <p style="color:#239B56;" > Import `BeautifulSoup` Package to scrap the data </p>
<h3>Step 1: Import the requests library and import pandas library</h3>

In [0]:
import requests

In [0]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

<h3>Step 2: Send an HTTP request, get the response, and save in a variable</h3>

In [0]:
requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

<h3>Step 3: Check the response status code to see if everything went as planned</h3>
<li>status code 200: the request response cycle was successful
<li>any other status code: it didn't work (e.g., 404 = page not found)

In [0]:
#print(response.status_code)

In [0]:
response = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

### Retrieve data from wikipedia  page content

In [0]:
soup = BeautifulSoup(response, 'html.parser')

data = []
for tr in soup.tbody.find_all('tr'):
    data.append([ td.get_text().strip() for td in tr.find_all('td')])

### Data cleaning

In [0]:
df=pd.DataFrame(data,columns=['PostalCode','Borough','Neighborhood'])

In [0]:
# Find indexes of rows that have "Not assigned" in Borough column
indexNames = df[(df['Borough'] == "Not assigned")].index

# Drop rows that have "Not assigned" in Borough column
df.drop(indexNames,inplace=True)

# Drop the first row
df.dropna(inplace=True)

In [0]:
df.head(10)

   PostalCode           Borough                                  Neighborhood
3         M3A        North York                                     Parkwoods
4         M4A        North York                              Victoria Village
5         M5A  Downtown Toronto                    Regent Park / Harbourfront
6         M6A        North York             Lawrence Manor / Lawrence Heights
7         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
9         M9A         Etobicoke                              Islington Avenue
10        M1B       Scarborough                               Malvern / Rouge
12        M3B        North York                                     Don Mills
13        M4B         East York              Parkview Hill / Woodbine Gardens
14        M5B  Downtown Toronto                      Garden District, Ryerson

Combine multiple rows into one row based on Postal code and Borough

In [1]:

df=df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(', '.join).reset_index()

NameError: ignored

## clean data

In [0]:
# Replace "Not assigned" in Neighborhood column with the value in Borough column
def custom_fx(data):
    if data['Neighborhood']=='Not assigned':
        var=data['Borough']
    else:
        var=data['Neighborhood']
    return var

# Apply the function
df['Neighborhood']=df.apply(custom_fx,axis='columns')

# Check that there is no more "Not assigned" in Neighborhood column
print("There are {} rows that have 'Not assigned' in Neighborhood column in the dataframe".format(
    len(df[df['Neighborhood']=='Not assigned'])
)
     )
df.head(11)

There are 0 rows that have 'Not assigned' in Neighborhood column in the dataframe

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                    Malvern / Rouge
1         M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough                Guildwood / Morningside / West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough      Kennedy Park / Ionview / East Birchmount Park
7         M1L  Scarborough                  Golden Mile / Clairlea / Oakridge
8         M1M  Scarborough  Cliffside / Cliffcrest / Scarborough Village West
9         M1N  Scarborough                       Birch Cliff / Cliffside West
10        M1P  Scarborough  Dorset Park / Wexford Heights / Scarborough To...

In [0]:
# Export the dataframe
df.to_csv(r'df_can.csv')

### Explore the data

### Shape of the table

In [0]:
df.shape

(103, 3)

# Part 2

## Geographical Cordinates of postal code...

we read csv file that has the geographical coordinates of each postal code: 

import **pandas** to read the csv file

In [0]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

link = "http://cocl.us/Geospatial_data"
df1= pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [0]:
df1.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
df1.columns

Index(['PostalCode', 'Latitude', 'Longitude'], dtype='object')

#### Merging the two data frames together based on their Postcode

In [0]:
df2 = pd.merge(df, df1, on='PostalCode', how='outer')
df2.head(30)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,Kennedy Park / Ionview / East Birchmount Park,43.727929,-79.262029
7,M1L,Scarborough,Golden Mile / Clairlea / Oakridge,43.711112,-79.284577
8,M1M,Scarborough,Cliffside / Cliffcrest / Scarborough Village West,43.716316,-79.239476
9,M1N,Scarborough,Birch Cliff / Cliffside West,43.692657,-79.264848
10,M1P,Scarborough,Dorset Park / Wexford Heights / Scarborough To...,43.757410,-79.273304
11,M1R,Scarborough,Wexford / Maryvale,43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,Clarks Corners / Tam O'Shanter / Sullivan,43.781638,-79.304302
14,M1V,Scarborough,Milliken / Agincourt North / Steeles East / L'...,43.815252,-79.284577
15,M1W,Scarborough,Steeles West / L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,Fairview / Henry Farm / Oriole,43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,York Mills / Silver Hills,43.757490,-79.374714
21,M2M,North York,Willowdale / Newtonbrook,43.789053,-79.408493
22,M2N,North York,Willowdale,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills,43.745906,-79.352188
27,M3C,North York,Don Mills,43.725900,-79.340923
28,M3H,North York,Bathurst Manor / Wilson Heights / Downsview North,43.754328,-79.442259
29,M3J,North York,Northwood Park / York University,43.767980,-79.487262